@use '../../lib/service.scss' as s;

.heading {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 16px;

  &__title {
    font-size: 24px;
    color: blue;
    font-weight: 500;
  }

  &__info {
    font-size: 16px;
    color: #000;
  }
}

.purchase-item {
  display: grid;
  grid-template-columns: 1fr 4fr 3fr 3fr;

}

.purchase-item__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  align-self: stretch;
  padding: 20px;
}

.title {
  color: gray;
  align-self: stretch;
}

.text {
  color: #000;
  font-size: 16px;
}