

@use '../../lib/service/style.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/purchase-product/style.scss' as
  purchaseProduct;
@use '../../component/purchase-field/style.scss' as field;
@use '../../component/purchase-divider/style.scss' as
  divider;
@use '../../component/purchase-button/style.scss' as button;

.main {
  display: flex;
  flex-direction: column;
  gap: 40px; 
  padding: 40px;
}

.product-list {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.product-info {
  display: flex;
  flex-direction: column;
  gap: 16px;
  align-items: flex-start;

  &__image {
    max-height: 300px;
    width: 100%;
  }

  &__title {
    font-size: 20px;
    font-weight: bold;
  }

  &__subtitle {
    font-size: 16px;
    color: black;
  }

  &__category {
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 14px;
    color: s.color(darker);
    border: 1px solid transparent;

    &--1 {
      border-color: green;
      color: green;
    }

    &--2 {
      border-color: blue;
      color: blue;
    }
  }

  &__button {
    background-color: blue;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: opacity 0.3s ease;

    &:hover {
      opacity: 0.7;
    }
  }
}