@use '../../lib/service.scss' as s;

@use '../../component/heading/style.scss' as heading;
@use '../../component/divider/style.scss' as divider;
@use '../../component/field/style.scss' as field;
@use '../../component/button/style.scss' as button;

.main {
    display: flex;
    align-items: flex-start;
    padding: 24px;
    gap: 10px;
}

.purchase-item {
    padding: 8px;
    display: grid;
    grid-template-columns: 1fr;
}

.purchase-edit {
    display: flex;
    align-items: center;
    border-radius: 10px;
    border: 1px solid gray;
    gap: 20px;
}

.heading {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.heading__title {
font-size: 24px;
color: #000;
}

.heading__info {
    font-size: 16px;
    color: #000;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    border: 1px solid gray;
    border-radius: 10px;
}



.purchase-item__block {

    width: 211px;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
    border: 1px solid gray;
    padding: 8px;
    gap: 8px;
}

.title {
    font-family: bold;
    font-size: 16px;
    color: gray;
}

.text {
    font-family: bold;
    font-size: 16px;
    color: black;
}